<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mediustechnologies.payemi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PayEMI"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.payments.act11AddNewCard"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.act39payEMI_transaction_page"
            android:exported="false" />
        <activity
            android:name=".activities.act34pay_EMI_Details"
            android:exported="false" />
        <activity
            android:name=".activities.act33payEMI_home"
            android:exported="false" />
        <activity
            android:name=".activities.act35payment_Page"
            android:exported="false" />
        <activity
            android:name=".activities.act40transaction_Details"
            android:exported="false" />
        <activity
            android:name=".activities.act36payment_confirmation"
            android:exported="false" />
        <activity
            android:name=".activities.login.act28onBording"
            android:exported="false" />
        <activity
            android:name=".activities.login.act32verifyNumber"
            android:exported="false" />
        <activity
            android:name=".activities.login.act31signIn"
            android:exported="false" />
        <activity
            android:name=".activities.act20transaction_Search"
            android:exported="false" />
        <activity
            android:name=".activities.act12complaintRegistration"
            android:exported="false" />
        <activity
            android:name=".activities.act9paymentSuccessful"
            android:exported="false" />
        <activity
            android:name=".activities.act8payEMI"
            android:exported="false" />
        <activity
            android:name=".activities.act6addLoadAccount"
            android:exported="false" />
        <activity
            android:name=".activities.act5BankSubCategories"
            android:exported="false" />
        <activity
            android:name=".activities.act7pay_emi_details"
            android:exported="false" />
        <activity
            android:name=".activities.act4BankList"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- below code for razorpay -->
        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>