<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mediustechnologies.payemi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PayEMI"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.DashBoardclasses.Home_Nav"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".activities.EmiCategories"
            android:exported="false" />
        <activity
            android:name=".activities.scratchCard.ScratchCardActivity"
            android:exported="true" />
        <activity
            android:name=".activities.PaymentSuccessful"
            android:exported="false" />
        <activity
            android:name=".activities.payments.NetBanking"
            android:exported="false" />
        <activity
            android:name=".activities.payments.LinkWallet"
            android:exported="false" />
        <activity
            android:name=".activities.payments.UPIPayment"
            android:exported="false" />
        <activity
            android:name=".activities.payments.CardPayment"
            android:exported="false" />
        <activity
            android:name=".activities.EMITransactionHistory"
            android:exported="false" />
        <activity
            android:name=".activities.GetLoanDetails"
            android:exported="false" />
        <activity
            android:name=".activities.payments.SelectPaymentMethod"
            android:exported="false" />
        <activity
            android:name=".activities.Transaction_Details"
            android:exported="false" />
        <activity
            android:name=".activities.act36payment_confirmation"
            android:exported="false" />
        <activity
            android:name=".activities.login.OnBording"
            android:exported="false" />
        <activity
            android:name=".activities.login.CheckOTP"
            android:exported="false" />
        <activity
            android:name=".activities.login.SendOTP"
            android:exported="false" />
        <activity
            android:name=".activities.act20transaction_Search"
            android:exported="false"/>
        <activity
            android:name=".activities.Exactness"
            android:exported="false" />
        <activity
            android:name=".activities.AddLoanAccount"
            android:exported="false" />
        <activity
            android:name=".activities.BillerList"
            android:exported="false" />
        <activity
            android:name=".activities.EMIDetailsBillFetch"
            android:exported="false" />
        <activity
            android:name=".activities.BankList"
            android:exported="false" />
        <activity
            android:name=".activities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- below code for razorpay -->
        <!--
<receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>
        -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_I4yUvwRiUPNWay" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>